.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  width: 400px;
  padding: 10px;

  border: 1px solid black;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  width: 200px;
}
